%h1 Add new task

= form_for "task", url: tasks_path do |f|
  = f.label :name, "Name:"
  = f.text_field :name
  = f.label :short_name, "Short name"
  = f.text_field :short_name
  = f.label :content, "Task content"
  = f.text_area :content
  %br
  = f.submit
