%table.tasks
  %thead
    %tr
      %th name (short name)
      %th actions
  %tbody
    - @tasks.each do |task|
      %tr.task
        %td= "#{task.name} (#{task.short_name})"
        %td 
          = link_to "Details", admin_task_path(task)
          = link_to 'Edit', edit_admin_task_path(task)
          = button_to 'Delete', [:admin, task], method: :delete, config: 'Are you sure you want to remove this task'

= link_to 'New Task', new_admin_task_path
