%h1 History of submissions

%table.submissions
  %thead
    %tr
      %th data
      %th task
      %th status
      %th
  %tbody
    - @submissions.each do |submission|
      %tr{:class=>"submission #{cycle("even","odd")}", :href=> submission_url(submission)}
        %td= submission.created_at
        %td= submission.task.name
        %td{:class=>"status #{submission.status}"}
          = submission.status
        %td.actions
          = link_to "details",submission_url(submission)
