%h1 Submission

%p{:class => "status #{@submission.status}"}
  status:
  = @submission.status

Task:
= @submission.task.name
%br

Submission time:
= @submission.created_at
%br

Source code:
%pre
  = @submission.source

Output:
%pre
  - if @submission.runs.last != nil
    = @submission.runs.last.output
  - else
    = "no runs"

%p All runs:
%ul
  - @submission.runs.each do |run|
    %li 
      %p run
      = run.id
      = run.status
      = run.time
